@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@400;500;600;700&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

.font-bershire {
    font-family: 'Berkshire Swash', cursive;
}

.text-orange {
    color: #FF5E19;
}

.bg-banner {
    background-image: url("images/banner/banner-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-black-90 {
    background-color: rgba(0, 0, 0, 0.9);
}

.w-90 {
    width: 100%;
}